body {
    background-color: #403c61;
    font-family: 'Heebo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    color: #765eff;
    font-size: 3.5em;
    margin-top: 70px;
}

h2 {
    color: #765eff;
    font-size: 2em;
}

h3 {
    color: #765eff;
    font-size: 1.7em;
    margin: 20px 0px 5px 0px;
}

.textbox {
    padding: 12px;
    font-size: 25px;
    border: 3px solid #053766;
    border-radius: 5px;
    text-align: center;
}

#submit-btn {
    margin-top: 30px;
    padding: 10px;
    font-size: 30px;
    background-color: #765eff;
    color: #FFFFFF;
    border: 3px solid #320566;
    border-radius: 5px;
}